:root {
  --background-color-team: #f5f4fa;
  --background-color-btn: #2196f3;
  --title-color: #ffffff;
  --primary-color: #ffffff;
  --secondary-color: #212121;
  --primary-background: #2f303a;

  --text-primary: #212121;
  --text-secondary: #757575;
  --text-btn: #ffffff;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  margin: auto;
  font-size: 14px;
  color: var(--text-primary);
}

a {
  text-decoration: none;
}

.contact-link,
.info-list,
.nav-link,
.nav-button,
.about-foto,
.tema-list,
.portfolio {
  list-style: none;
}
.contact-link:hover {
  color: var(--background-color-btn);
}

.main-section {
  background-color: var(--primary-background);
  text-align: center;
}

.main-title {
  font-size: 44px;
  color: var(--title-color);
  text-align: center;
}

.primary-button {
  display: inline-block;
  border-radius: 4px;
  background-color: var(--background-color-btn);
  color: var(--text-btn);
  cursor: pointer;
}

.logo {
  font-size: 26px;
  font-weight: 900;
  font-family: Raleway;
  color: var(--text-primary);
}

.logo span {
  color: var(--background-color-btn);
}

.link-contact {
  color: var(--text-secondary);
}

.link-contact:hover {
  color: var(--background-color-btn);
}

.title {
  font-family: roboto 900;
  font-size: 36px;
}

.info-list p {
  color: var(--text-secondary);
}

.team {
  background-color: var(--background-color-team);
}

.team-name {
  font-size: 16px;
  font-weight: 500;
}

.team-position {
  color: var(--text-secondary);
  font-size: 16;
  font-weight: 400;
}

.item-discription {
  color: var(--text-secondary);
}

.secondary-button {
  list-style: none;
  color: var(--text-primary);
  border-radius: 4px;
  cursor: pointer;
}

.secondary-button:hover {
  color: var(--title-color);
  background-color: var(--background-color-btn);
}

.footer-main {
  background-color: var(--primary-background);
}

.footer-main a {
  color: var(--title-color);
}
