h1 {
  background-color: #2f303a;
  color: #ffff;
  height: 600px;
  text-align: center;
}

footer {
  background-color: #2f303a;
  color: #ffff;
}

span {
  color: blue;
}

nav {
  background-color: #ececec;
}
